.article_preview:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

.article_preview {
    background-color: white;
    color: black;
    padding: 20px;
    margin: 5px;
    width: 250px;
}

.articles_list {
    padding: 0;
    margin: 0;
    text-align: left;
    min-width: 150px;
    max-width: 1200px;
    color: black;
    line-height: 1.5;
    display: grid;
    flex-wrap: wrap;
    align-content: start;
    justify-content: space-around;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}


@media screen and (max-width: 800px) {
    .articles_list {
        padding: 0;
        margin: 0;
        text-align: left;
        min-width: 150px;
        max-width: 1200px;
        color: black;
        line-height: 1.5;
        display: flex;
    }
}