.container {
    background-image: url("../images/1.jpg");
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 100% auto;
    padding: 1.0rem;
    margin: 0;
    flex-grow: 1;
    min-height: 100vh;
    background-color: white;
    -webkit-box-shadow: 0px 0px 5px 1px black;
    -moz-box-shadow: 0px 0px 5px 1px black;
    box-shadow: 0px 0px 5px 1px black;
}

.subtitle {
    font-size: 1.7rem;
}

.nav_bar {
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand_name {
    color: black;
    font-weight: bold;
    font-size: 1.8rem;
}

.footer {
    position: absolute;
    bottom: 0;
    right: 1rem;
}

.toggle_menu {
    width: 35px;
    height: 22px;
    top: 2.2rem;
    right: 0.35rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.toggle_menu_bar {
    background-color: black;
    height: 3px;
    width: 100%;
}

.main_section {
    padding-top: 1rem;
    border-top:  1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
