body {
    padding: 1rem;
    font-family: 'Poiret One', cursive ;
    background: #faf5ef;
    opacity: 0.9;
    color: black;
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    text-align: center;
}

h1 {
    padding: 0;
    margin: 0;
    color: black;
    font-size: 2.0rem;
}

h2 {
    padding: 0 10px;
    margin: 0;
    color: #9b1f21;
}

a {
    text-decoration: none;
    color: black;
    padding: 0;
    margin: 0;
}
